{% extends 'layout.html' %}

{% block content %}
        
    <h1>Tradeable stocks index</h1>



        <form method="get">

            <select name="filter">

                <option value="">All Stocks</option>
                <option {% if request.query_params.filter == "opening_range_breakout" %}selected="selected" {% endif %}value="opening_range_breakout">opeing range breakout</option>
                <option {% if request.query_params.filter == "new_closing_highs" %}selected="selected" {% endif %}value="new_closing_highs">New Closing Highs</option>
                <option {% if request.query_params.filter == "new_closing_lows" %}selected="selected" {% endif %} value="new_closing_lows">New Closing Lows</option>
                <option {% if request.query_params.filter == "RSI_overbought" %}selected="selected" {% endif %} value="RSI_overbought">RSI Over Bought</option>
                <option {% if request.query_params.filter == "RSI_oversold" %}selected="selected" {% endif %} value="RSI_oversold">RSI Over Sold</option>
            </select>
            <button class="mini ui button" type="sumbit">Submit</button>
        </form>



        <table class="ui selectable inverted table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Symbol</th>
                    <th>Name</th>
                    <th>Exchange</th>
                    <th>Close_Price</th>
 

                    
                </tr>
            </thead>
                <tbody>
                    {% for stock in stocks %}
                    <tr>
                        
                        <td>{{ stock.id }}</td>
                        <td>{{ stock.symbol}}</td>
                        <td><a href="/stock/{{stock.symbol}}">{{ stock.name}}</a></td>
                        <td>{{ stock.exchange}}</td>
                        
                        {%if indicator_values[stock.symbol]%}
                        <td>{{indicator_values[stock.symbol].close}}<td>
                        {%endif%}

                        
                        
                    </tr>
                    
                    {% endfor%}
                </tbody>
            </table>
{%endblock%}
